/* ================== 경훈 추가 중 ======================= */
#footer_wrap .content_info_wrap {
  margin: 0 auto;
  width: 1200px;
}
#footer_wrap .content_info {
  overflow: hidden;
  padding: 50px 0 40px 0;
  color: #b1b1b1;
}
#footer_wrap .contact_us{
  float: left;
  width: 460px;
}
#footer_wrap .content_info h3 {
  padding: 0 0 0 12px;
  color: #222222;
  font-size: 14px;
  background: url(https://www.naturestore.co.kr/data/skin/front/the_living/img/etc/blt_footer_line.png) left center no-repeat;
  line-height: 20px;
  margin-bottom: 30px;
}

#footer_wrap .content_info h3 img{ margin-top: 1px; }
#footer_wrap .contact_us_con { overflow: hidden; }
#footer_wrap .contact_us_con > div:first-child { width: 200px; margin-left: 0; }
#footer_wrap .contact_us_con > div{ float: left; width: 240px; margin-left: 20px; }
#footer_wrap .content_info .cs_center { float: left; font-size: 15px; }
#footer_wrap .content_info .cs_center strong{ padding-right: 5px; }
#footer_wrap .content_info .cs_center p { font-size: 13px; line-height: 23px; letter-spacing: -.5px; }
#footer_wrap .content_info .bank_info { float: left; font-size: 15px; }
#footer_wrap .content_info .bank_info strong { padding-right: 5px; }
#footer_wrap .content_info .bank_info p { font-size: 13px; line-height: 23px; }
#footer_wrap .content_info h3 {
  padding: 0 0 0 12px;
  color: #222222;
  font-size: 14px;
  background: url(https://www.naturestore.co.kr/data/skin/front/the_living/img/etc/blt_footer_line.png) left center no-repeat;
  line-height: 20px;
  margin-bottom: 30px;
}
#footer_wrap .content_info h3 img{ margin-top: 1px; }
#footer_wrap .content_info .notice_list { float: left; width: 300px; margin-left: 65px; }
#footer_wrap .content_info .notice_list ul { padding: 0 0 0 0; width: 299px; margin-left: 1px; }
#footer_wrap .content_info .notice_list ul > li:first-child { border-top: none; }
#footer_wrap .content_info .notice_list li { padding: 2px 0 1px 0; border-top: #383838 1px solid; }
#footer_wrap .content_info .notice_list ul a {
  display: inline-block;
  overflow: hidden;
  width: 93%;
  color: #b1b1b1;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
}

.foot_list {
  line-height: 1;
  float: left;
  width: 279px;
  margin-left: 90px;
}

.foot_list ul {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.foot_list ul li {
  float: left;
  padding: 0 0 13px;
  width: 50%;
}

.foot_list ul li:first-child a {
  padding-left: 0;
}

.foot_list ul li a {
  font-weight: bold;
  padding: 0;
  color: #b1b1b1;
  font-size: 12px;
}

#footer_wrap{
  display:inline-block;
  /*문제시 삭제(위 한줄)*/
  position: relative;
  width: 100%;
  border-top: 1px solid #e3e3e3;
  background: #2d2d2d;
}


#footer {
  overflow: hidden;
  padding: 0 0 40px 0;
}

.foot_cont {
  overflow: hidden;
  padding: 35px 0 0;
  color: #555;
  font-size: 12px;
  line-height: 1.8;
  text-align: center;
}

address{
  display: block;
  font-style: normal;
  font-weight: normal;
}

.foot_cont .foot_info address strong {
  padding-right: 8px;
  background: url(https://www.naturestore.co.kr/data/skin/front/the_living/img/etc/blt_footer_line2.png) right center no-repeat;
}

.foot_cont .foot_info address > * {
  display: inline-block;
}

.foot_cont .foot_info_list{
  height: 21px;
  overflow: hidden;
  width: 100%;
}

.foot_cont .foot_info_list dl:first-child {
  background: none;
  padding-left: 0;
}

.foot_cont .foot_info_list dl {
  display: inline-block;
  background: url(https://www.naturestore.co.kr/data/skin/front/the_living/img/etc/blt_footer_line2.png) left center no-repeat;
  padding-left: 8px;
}

.foot_cont .foot_info_list dt {
  float: left;
}

.foot_cont .foot_info_list dd {
  float: left;
  padding: 0 3px 0 0;
  
  display: block;
  
}

.foot_cont .copyright {
  float: left;
  width: 100%;
  font-weight: bold;
  margin-top: 25px;
}

.foot_certify {
  overflow: hidden;
  padding: 5px 0 15px 0;
  text-align: right;
}

.foot_certify span:first-child {
  padding: 0 10px 0 0;
}

.foot_certify span {
  display: inline-block;
  padding: 0 10px 0 10px;
}

/*============ sns 광고 아이콘 디자인 css =============*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;

  display: inline-block;
  font: normal normal normal 14px/1;
  font-family: "Font Awesome 5 Brands";
  font-size: inherit;
  text-rendering: auto;
  cursor: pointer;
}

.fa-facebook {
  background: #385998;
  color: white;
}


.fa-youtube {
  background: #bb0000;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}

.fa-blog {
  background: green;
  color: white;
}

/* ==== 경훈 추가 끝 ==== */