/* 슬라이드 배너 구역 지정 */
.slidebanner_container {
    position: relative;
    min-width: 100%;
    height: 700px;
    overflow:hidden;
    background-color: gold;
    z-index: 50;
}

#slide_box .slide {
  text-align: center;
}

#slide_box .slide img {
  min-width:2000px;
  height: auto;
}

/* 좌우에 있는 이전/다음 슬라이드 버튼 */
#slide_box .prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -90px;
    color: white;
    font-size: 70px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}
/* 다음 슬라이드 버튼은 오른쪽에 오게 조정 */
#slide_box .next {
    right: 0;
    border-radius: 10px 0 0 10px;
}

/* 슬라이드 아래쪽 점 버튼 집합 */
.dotlist {
    bottom: 100px;
    position: relative;
    text-align:center;
    z-index: 100;
}
/* 슬라이드 아래쪽 각각의 점 버튼 */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

/* 점 버튼이 활성화(해당되는 슬라이드가 현재 보여지고 있을 경우)시 그 점을 노란색으로 지정 */
.active {
  background-color: rgb(255, 208, 0);
}